@import "tailwindcss";

@media print {

  @page {
    size: landscape;
    margin: 10mm;
  }

  body * {
    visibility: hidden;
  }

  #standard-print,
  #standard-print * {
    visibility: visible;
  }

  #standard-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .print\:hidden {
    display: none !important;
  }

  #standard-print table {
    table-layout: fixed;
    width: 100%;
  }

  #standard-print td,
  #standard-print th {
    overflow-wrap: break-word;
  }

}
